@page
@model SEC44NIPSS.Areas.Admin.Pages.Maintainance.Supervisors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TicketSupervisor[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketSupervisor[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketSupervisor[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketSupervisor[0].SendEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketSupervisor[0].SendPhone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TicketSupervisor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SendEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SendPhone)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
