@page
@model SEC44NIPSS.Areas.Root.Pages.Category.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DocumentCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DocumentCategory.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DocumentCategory.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DocumentCategory.ShortDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DocumentCategory.ShortDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DocumentCategory.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DocumentCategory.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DocumentCategory.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DocumentCategory.Color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DocumentCategory.Alumni)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DocumentCategory.Alumni.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DocumentCategory.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
