@page
@model SEC44NIPSS.Areas.Root.Pages.DSPage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DirectingStaff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DirectingStaff.SortOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DirectingStaff.SortOrder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DirectingStaff.Alumni)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DirectingStaff.Alumni.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DirectingStaff.Profile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DirectingStaff.Profile.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DirectingStaff.StudyGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DirectingStaff.StudyGroup.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="DirectingStaff.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
