@page
@model SEC44NIPSS.Areas.ResolvedAdmin.Pages.Main.DetailsModel

@{
    ViewData["Title"] = "Details";
}


<div class="card-body">
    <h4>SEC DETAILS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Alumni.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alumni.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Alumni.DateRange)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alumni.DateRange)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Alumni.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alumni.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Alumni.GeneralTopic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alumni.GeneralTopic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Alumni.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alumni.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alumni.SortOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alumni.SortOrder)
        </dd>
    </dl>
</div>
<div class="card-body">
    <h3>LEGACY PROJECT</h3>
    @if (Model.Alumni.SecProject != null)
    {
    <h2>@Model.Alumni.SecProject.Title</h2>

            }
            else
            {
                <span>NILL</span>
            }
    <h6>
        <a asp-page="/SecProjectPage/UpdateProject" asp-route-id="@Model.Alumni.Id" class="btn btn-primary">Update Legacy Project for SEC</a>
    </h6>


</div>
<div class="card-body">
    <h3>Participants (@Model.Alumni.Participants.Count())</h3>
    <h6>
        <a asp-page="/ParticipantPage/UpdateParticipant" asp-route-id="@Model.Alumni.Id" class="btn btn-primary">Update participant for SEC</a>
        <a asp-page="/ParticipantManager/Index" asp-route-id="@Model.Alumni.Id" class="btn btn-primary">participant Page</a>
    </h6>

    <div class="table-responsive">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Fullname
                    </th>
                    <th>
                        Sponsor
                    </th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Position</th>
                    <th>Study Group</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Alumni.Participants)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Profile.Title)
                            @Html.DisplayFor(modelItem => item.Profile.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Profile.Sponsor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Profile.User.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Profile.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Profile.Position)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudyGroup.Title)
                        </td>
                        <td>
                            <a asp-page="/ParticipantPage/Delete" asp-route-id="@item.Id">Delete</a>
                            <a asp-page="/ParticipantPage/Edit" asp-route-id="@item.Id">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
<div class="card-body">

    <h3>SEC EXECUTIVE (@Model.Alumni.Executives.Count())</h3>
    <h6>
        <a asp-page="/ExecutivePage/UpdateParticipant" asp-route-id="@Model.Alumni.Id" class="btn btn-primary">Update Executive for SEC</a>
    </h6>
    <div class="table-responsive">

        <table id="example1" class="table table-bordered table-striped">

            <thead>
                <tr>
                    <th>
                        Sort order
                    </th>
                    <th>
                        Position
                    </th>
                    <th>
                        Name
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Alumni.Executives)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SortOrder)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>


                        <td>
                            @Html.DisplayFor(modelItem => item.Profile.Title)
                            @Html.DisplayFor(modelItem => item.Profile.FullName)
                        </td>

                        <td>
                            <a asp-page="/ExecutivePage/Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div class="card-body">

    <h3>MANAGEMENT STAFF (@Model.Alumni.ManagingStaffs.Count())</h3>
    <h6>
        <a asp-page="/ManagementStaff/UpdateManagement" asp-route-id="@Model.Alumni.Id" class="btn btn-primary">Update Management for SEC</a>
    </h6>
    <div class="table-responsive">


        <table id="example1" class="table table-bordered table-striped">

            <thead>
                <tr>
                    <th>
                        Sort order
                    </th>
                    <th>
                        Position
                    </th>
                    <th>
                        Name
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Alumni.ManagingStaffs)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SortOrder)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>


                        <td>
                            @Html.DisplayFor(modelItem => item.Profile.Title)
                            @Html.DisplayFor(modelItem => item.Profile.FullName)
                        </td>

                        <td>
                            <a asp-page="/ManagementStaff/Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div class="card-body">

    <h3>DIRECTING STAFF (@Model.Alumni.DirectingStaffs.Count())</h3>
    <h6>
        <a asp-page="/DSPage/UpdateDS" asp-route-id="@Model.Alumni.Id" class="btn btn-primary">Update DS for SEC</a>
    </h6>
    <div class="table-responsive">


        <table id="example1" class="table table-bordered table-striped">

            <thead>
                <tr>
                    <th>
                        Sort order
                    </th>

                    <th>
                        Name
                    </th>
                    <th>
                        Study Group
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Alumni.DirectingStaffs)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SortOrder)
                        </td>


                        <td>
                            @Html.DisplayFor(modelItem => item.Profile.Title)
                            @Html.DisplayFor(modelItem => item.Profile.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudyGroup.Title)
                        </td>

                        <td>
                            <a asp-page="/DSPage/Delete" asp-route-id="@item.Id">Delete</a>
                            <a asp-page="/DSPage/Edit" asp-route-id="@item.Id">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div class="card-body">

    <h3>SEC PAPERS/DOCUMENTS/REPORT (@Model.Alumni.SecPapers.Count())</h3>
    <h6>
        <a asp-page="/SecPaperPage/Create" asp-route-id="@Model.Alumni.Id" class="btn btn-primary">Update SEC Papers</a>
    </h6>
    <div class="table-responsive">


        <table id="example1" class="table table-bordered table-striped">

            <thead>
                <tr>
                    <th>
                        Title
                    </th>

                    <th>
                        Description
                    </th>
                    <th>Category</th>
                    <th>
                        Powerpoint
                    </th>
                    <th>Report</th>
                    <th>Script</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Alumni.SecPapers)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>


                    <td>

                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.DocumentCategory.Title)
                    </td>
                    <td>
                        @if (!String.IsNullOrEmpty(item.Powerpoint))
                        {
                            <a href="@item.Powerpoint" download class="btn btn-success">Download</a>
                        }
                        else
                        {
                            <a href="#" download class="btn btn-danger">NILL</a>

                        }
                    </td>
                    <td>
                        @if (!String.IsNullOrEmpty(item.Report))
                        {
                            <a href="@item.Report" download class="btn btn-success">Download</a>
                        }
                        else
                        {
                            <a href="#" download class="btn btn-danger">NILL</a>

                        }
                    </td>
                    <td>
                        @if (!String.IsNullOrEmpty(item.Script))
                        {
                            <a href="@item.Script" download class="btn btn-success">Download</a>
                        }
                        else
                        {
                            <a href="#" download class="btn btn-danger">NILL</a>

                        }
                    </td>

                    <td>
                        <a asp-page="/SecPaperPage/Delete" asp-route-id="@item.Id">Delete</a>
                        <a asp-page="/SecPaperPage/Edit" asp-route-id="@item.Id">Edit</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@*<div class="card-body">

    <h3>SEC COMMITTEE (@Model.Alumni.CommitteeCategory.Count())</h3>
    <h6>
        <a asp-page="/CommitteePage/ListCommittee" asp-route-id="@Model.Alumni.Id" class="btn btn-primary">Update Committee for SEC</a>
    </h6>
    <div class="table-responsive">


        <table class="table">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        ShortDescription
                    </th>
                    <th>
                        Members
                    </th>
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Alumni.CommitteeCategory)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShortDescription)
                        </td>
                        <td>
                            @item.Committees.Count()
                        </td>
                       
                       
                    </tr>
                }
            </tbody>
        </table>

        @foreach (var x in Model.Alumni.CommitteeCategory)
        {
            <h4>@x.Title (@x.Committees.Count() Members)</h4>

        <table id="example1" class="table table-bordered table-striped">

            <thead>
                <tr>
                    <th>
                        Sort order
                    </th>
                    <th>
                        Position
                    </th>
                    <th>
                        Name
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in x.Committees)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SortOrder)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>


                        <td>
                            @Html.DisplayFor(modelItem => item.Profile.Title)
                            @Html.DisplayFor(modelItem => item.Profile.FullName)
                        </td>


                    </tr>
                }
            </tbody>
        </table>

        }
    </div>
</div>*@
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Alumni.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
