@page
@model SEC44NIPSS.Areas.ResolvedAdmin.Pages.ParlyCategory.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Main Folders</h2>

<p>
    <a asp-page="Create" class="btn btn-danger">Create New Folder</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Sort</th>
            <th>Title</th>

            <th>
                @Html.DisplayNameFor(model => model.ParlyReportCategory[0].Date)
            </th>
            <th>Folder</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ParlyReportCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SortOrder)
            </td>

            <td>
                <a asp-page="/ParlyCategory/SubCategory/Folders" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Title)
                </a>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @item.ParlyReportSubCategories.Count()
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>

            </td>
        </tr>
}
    </tbody>
</table>
