@page
@model SEC44NIPSS.Areas.Admin.Pages.QuestionnerPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Questionner[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questionner[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questionner[0].Response)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questionner[0].Instruction)
            </th>
            <th>l</th>
            <th>s</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Questionner) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Response)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instruction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongLink)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
