@page
@model SEC44NIPSS.Areas.Root.Pages.ManagementStaff.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ManagingStaff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ManagingStaff.Position)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManagingStaff.Position)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ManagingStaff.SortOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManagingStaff.SortOrder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ManagingStaff.Alumni)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManagingStaff.Alumni.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ManagingStaff.Profile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManagingStaff.Profile.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ManagingStaff.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
