@page
@model SEC44NIPSS.Areas.NIPSS.Pages.Admin.RapidResults.IndexModel

@{
    ViewData["Title"] = "Index";
}


<div class="box">
    <div class="box-header">
        <h3 class="box-title">
            All Users

        </h3>
        <div class="table-responsive">
            <table id="" class="table table-bordered table-striped" style="font-weight: 800; max-width: 400px; background-color: rgba(60, 141, 188, 0.48);">
                
            </table>
        </div>

        <!-- /.box-header -->
        <div class="box-body table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserAnswer[0].Date)
                        </th>
                        <th>
                            Fullname
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserAnswer[0].Title)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.UserAnswer[0].Score)
                        </th>


                    </tr>
                </thead>
                @{int sn = 0;}
                <tbody>
                    @foreach (var item in Model.UserAnswer)
                    {
                        <tr>
                            <td>
                                @{ sn++;
                                }

                                @sn
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Profile.Title)
                                @Html.DisplayFor(modelItem => item.Profile.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Score)
                            </td>



                        </tr>
                    }
                </tbody>
            </table>
        </div>        </div>            </div>