@page
@model SEC44NIPSS.Areas.Participant.Pages.ParlyPage.DocumentsModel
@{
}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                

                <h3>
                    @if (Model.SubFolder == false)
                    {
                        <span> @Model.ParlyReportSubCategory.Title</span><span style="font-size:14px;">( @Model.ParlyReportCategory.Title )</span>
                    }
                    else
                    {
                        @Model.ParlyReportCategory.Title
                    }
                </h3>

                <h4>
                    @if (Model.SubFolder == true)
                    {
                        <a class="btn btn-primary" asp-page="/ParlyPage/CreateSubFolder" style="color:#ffffff;" asp-route-id="@Model.ParlyReportCategory.Id" asp-area="Participant">Create Sub Folder</a>
                        <a class="btn btn-danger" asp-page="/ParlyPage/Upload" asp-route-id="@Model.ParlyReportCategory.Id" asp-route-sid="@Model.SubId" asp-route-source="mainfolder" style="color:#ffffff;" asp-area="Participant">Upload Related Document</a>

                    }
                    else
                    {
                        <a class="btn btn-danger" asp-page="/ParlyPage/Upload" asp-route-sid="@Model.SubId" asp-route-id="@Model.ParlyReportCategory.Id" style="color:#ffffff;" asp-area="Participant">Upload Related Document</a>
                    }
                </h4>
            </div>

            @if (TempData["result"] != null)
            {
                <div class="alert alert-success">
                    <strong>Success!</strong> @TempData["result"]
                </div>}

            @if (Model.SubFolder == true)
            {
            <div class="box-body">
                <h4>FOLDERS</h4>
                <div class="table-responsive">
                    @if (Model.ParlyReportCategory.ParlyReportSubCategories.Count() > 0)
                    {
                    <table id="" class="table table-bordered table-hover">
                       
                        <tbody>
                            @foreach (var item in Model.ParlyReportCategory.ParlyReportSubCategories)
                            {
                                <tr>
                                    
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @item.Date.ToString("dd MMM,yyyy hh:mm")
                                    </td>
                                    <td>
                                        <a asp-page="./Documents" asp-route-typefolder="subfolder" class="btn btn-danger" style="color:#ffffff;width:100%;font-weight:900;">View Document</a>



                                    </td>
                                </tr>
                            }



                        </tbody>
                    </table>
                    }
                    else
                    {
                    <h4>No Folder</h4>
                    }
              
                </div>
            </div>
            }
            <!-- /.box-header -->
            <div class="box-body">
                <h4>DOCUMENTS</h4>
                <div class="table-responsive">
                    @if (Model.ParlyReportDocuments.Count() > 0)
                    {
                        <table id="" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>
                                        Title
                                    </th>
                                    <th>Description</th>
                                    <th>Participant</th>

                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ParlyReportDocuments)
                                {
                                    <tr>
                                        <td>
                                            @item.Date.ToString("dd MMM,yyyy hh:mm")
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ShortDescription)
                                        </td>
                                        <td>
                                            @item.Profile.Title @item.Profile.FullName
                                        </td>
                                        <td>
                                            <a href="@item.Document" class="btn btn-danger" style="color:#ffffff;width:100%;font-weight:900;" download="@item.Title">DOWNLOAD</a>



                                        </td>
                                    </tr>
                                }



                            </tbody>
                        </table>

                    }
                    else
            {
                <h4>No Document</h4>
            }
              
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        z-index: 99999;
        opacity: 0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
    }

        .modalDialog:target {
            opacity: 1;
            pointer-events: auto;
        }

        .modalDialog > div {
            width: 80%;
            max-height: 500px;
            position: relative;
            margin: 1% auto;
            padding: 5px 20px 13px 20px;
            background: #fff;
        }

    .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
    }

        .close:hover {
            background: #00d9ff;
        }
</style>



<div id="openModal" class="modalDialog">
    <div>
        <a href="#close" title="Close" class="close">X</a>
        <!-- unique image -->
        <div class="selectedImage"></div>
        <a href="javascript:if(document.getElementById('listUpdate').value) window.open(document.getElementById('listUpdate').value);" target="_blank">Submit</a>
    </div>
</div>