@page
@model SEC44NIPSS.Areas.Root.Pages.ParlyCategory.SubCategory.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ParlyReportSubCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParlyReportSubCategory.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParlyReportSubCategory.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParlyReportSubCategory.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParlyReportSubCategory.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParlyReportSubCategory.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParlyReportSubCategory.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParlyReportSubCategory.ParlyReportCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParlyReportSubCategory.ParlyReportCategory.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ParlyReportSubCategory.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
