@page
@model SEC44NIPSS.Areas.Root.Pages.ParlyCategory.SubCategory.FoldersModel

@{
    ViewData["Title"] = "Folders";
}

<h2>@Model.ParlyReportCategory.Title</h2>

<p>
    <a asp-page="Create" class="btn btn-danger" asp-route-id="@Model.ParlyReportCategory.Id">Create New Folder</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Sort Order</th>
            <th>
                @Html.DisplayNameFor(model => model.ParlyReportSubCategory[0].Title)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ParlyReportSubCategory[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParlyReportSubCategory[0].ParlyReportCategory)
            </th>
            <th>Folders</th>
            <th>BG</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ParlyReportSubCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SortOrder)
            </td>
            <td>
                <a asp-page="/ParlyCategory/SubTwo/Folders" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Title)
                </a>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParlyReportCategory.Title)
            </td>
            <td>
                @item.ParlySubTwoCategories.Count()
            </td>
              
                <td>
                    <div class="@item.BgColor" style="height:5px;width:20px;">.</div>

                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
