@page
@model SEC44NIPSS.Pages.QuestionModel
@{
    Layout = "_LayoutBlank";

}



<div class="box box-warning">
    <div class="box-header with-border">
        <h3 class="box-title">@Model.Questionner.Title</h3>
        <h6 class="">@Model.Questionner.Instruction</h6>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <form role="form">
            @foreach (var i in Model.Question)
            {
                <h3>@i.Title</h3>
                if (i.Options != null)
                {

                    if (i.Options.OptionType == Data.Model.OptionType.ShortNote)
                    {
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Type here ...">
                        </div>

                    }
                    <!-- text input -->

                    if (i.Options.OptionType == Data.Model.OptionType.LongNote)
                    {
                        <!-- textarea -->
                        <div class="form-group">
                            <textarea class="form-control" rows="3" placeholder="Type here ..."></textarea>
                        </div>
                    }
                    if (i.Options.OptionType == Data.Model.OptionType.YesNo)
                    {
                        <!-- checkbox -->
                        <div class="form-group">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios_@i.Id" id="optionsRadios1" value="option1" checked>
                                    Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios_@i.Id" id="optionsRadios2" value="option2">
                                    No
                                </label>
                            </div>


                        </div>
                    }
                    if (i.Options.OptionType == Data.Model.OptionType.FourOption)
                    {
                        <!-- checkbox -->
                        <div class="form-group">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios1_@i.Id" id="optionsRadios1" value="option1" checked>
                                    @i.Options.OptionList1
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios1_@i.Id" id="optionsRadios2" value="option2">
                                    @i.Options.OptionList2
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios1_@i.Id" id="optionsRadios2" value="option2">
                                    @i.Options.OptionList3
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios1_@i.Id" id="optionsRadios2" value="option2">
                                    @i.Options.OptionList4
                                </label>
                            </div>
                            

                        </div>
                                            }

                    if (i.Options.OptionType == Data.Model.OptionType.FiveOption)
                    {
                        <!-- checkbox -->
                        <div class="form-group">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios1_@i.Id" id="optionsRadios1" value="option1" checked>
                                    @i.Options.OptionList1
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios1_@i.Id" id="optionsRadios2" value="option2">
                                    @i.Options.OptionList2
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios1_@i.Id" id="optionsRadios2" value="option2">
                                    @i.Options.OptionList3
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios1_@i.Id" id="optionsRadios2" value="option2">
                                    @i.Options.OptionList4
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios1_@i.Id" id="optionsRadios2" value="option2">
                                    @i.Options.OptionList5
                                </label>
                            </div>

                        </div>

                    }
                }
            }


        </form>
    </div>
    <!-- /.box-body -->
</div>