@page
@model SEC44NIPSS.Areas.ResolvedAdmin.Pages.ParticipantManager.IndexModel

@{
    ViewData["Title"] = "Index";
}



<div class="card-body">
    <h3>Participants (@Model.SecParticipant.Count())</h3>
    <h6>
        <a asp-page="/ParticipantPage/UpdateParticipant" asp-route-id="@Model.Alumni.Id" class="btn btn-primary">Update participant for SEC</a>
        <a asp-page="/ParticipantManager/Create" asp-route-id="@Model.Alumni.Id" class="btn btn-primary">Add New Participant to SEC</a>
    </h6>

    <div class="table-responsive">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>
                        Fullname
                    </th>
                    <th>
                        Sponsor
                    </th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Position</th>
                    <th>Study Group</th>
                    @foreach (var x in Model.ParticipantDocumentCategory)
                    {
                        <th colspan="3">@x.Title</th>
                    }
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="7"></td>
                    @foreach (var x in Model.ParticipantDocumentCategory)
                    {
                        <td>Report</td>
                        <td>Script</td>
                        <td>Powerpoint</td>
                    }
                    <td></td>
                </tr>
                @{ int sn = 0;}

                @foreach (var item in Model.SecParticipant)
                {
            <tr>
                <td>
                    @{ sn++; };
                    @sn
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profile.Title)
                    @Html.DisplayFor(modelItem => item.Profile.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profile.Sponsor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profile.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profile.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profile.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudyGroup.Title)
                </td>
                @foreach (var x in item.ParticipantDocuments)
                {
                    if (String.IsNullOrEmpty(x.Report))
                    {
                        <td><i class="fa fa-times"></i> </td>
                    }
                    else
                    {
                        <td><i class="fa fa-check"></i> </td>

                    }
                    if (String.IsNullOrEmpty(x.Script))
                    {
                        <td><i class="fa fa-times"></i> </td>
                    }
                    else
                    {
                        <td><i class="fa fa-check"></i> </td>

                    }
                    if (String.IsNullOrEmpty(x.Powerpoint))
                    {
                        <td><i class="fa fa-times"></i> </td>
                    }
                    else
                    {
                        <td><i class="fa fa-check"></i> </td>

                    }

                }
                <td>
                    <a asp-page="/ParticipantPage/Delete" asp-route-id="@item.Id">Delete</a>
                    <a asp-page="/ParticipantPage/Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
                }
            </tbody>
        </table>

    </div>
</div>