@page
@model SEC44NIPSS.Areas.Admin.Pages.CommittePage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
   <div class="table-responsive">

        <table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>S/N</th>
            <th>
                @Html.DisplayNameFor(model => model.CommitteeCategory[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommitteeCategory[0].ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommitteeCategory[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommitteeCategory[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommitteeCategory[0].Alumni)
            </th>
                <th>Members</th>
                <th></th>
        </tr>
    </thead>
        @{
            int sn = 0;
        }
        <tbody>
@foreach (var item in Model.CommitteeCategory) {
                <tr>
                    <td>@{sn++;}
                        @sn
                    </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alumni.Id)
            </td>
                    <td>
                        @item.Committees.Count()
                    </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>|
                    <a asp-page="./MemberList" asp-route-id="@item.Id">Members</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>