@page
@model SEC44NIPSS.Pages.Web.ParlyDocListModel

@{
    ViewData["Title"] = "ParlyDocList";
}


<div class="rs-breadcrumbs img10">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                @if (Model.SubFolder == false)
                {
                    <span> @Model.ParlyReportSubCategory.Title</span><span style="font-size:14px;">( @Model.ParlyReportCategory.Title )</span>
                }
                else
                {
                @Model.ParlyReportCategory.Title
                }
            </h1>
            <br />
            <span class="sub-text">
               
                </span>
        </div>
    </div>
</div>
<div class="rs-about style2 md-pt-70 md-pb-70" style="padding:30px 0 10px 0;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="sec-title" style="border: 2px solid #ffffff; box-shadow: 1px 1.6px 3.6px rgb(30 64 44), 2px 0px 2.9px rgb(65 112 86); padding: 16px; background-color: #f3f0f0;">
                    <div class="row">
                        <div class="col-md-9">
                            <h4>
                                @if (Model.SubFolder == true)
                                {
                                    <a class="btn btn-primary" asp-page="/ParlyPage/CreateSubFolder" style="color:#ffffff;" asp-route-id="@Model.ParlyReportCategory.Id" asp-area="Participant">Create Sub Folder</a>
                                    <a class="btn btn-danger" asp-page="/ParlyPage/Upload" asp-route-id="@Model.ParlyReportCategory.Id" asp-route-sid="@Model.SubId" asp-route-source="mainfolder" style="color:#ffffff;" asp-area="Participant">Upload Related Document</a>

                                }
                                else
                                {
                                <a class="btn btn-danger" asp-page="/ParlyPage/Upload" asp-route-sid="@Model.SubId" asp-route-id="@Model.ParlyReportCategory.Id" style="color:#ffffff;" asp-area="Participant">Upload Related Document</a>
                                }
                            </h4>
                            <hr />
                            @if (Model.SubFolder == true)
                            {
                                <h3>Folders</h3>
                                @if (Model.ParlyReportCategory.ParlyReportSubCategories.Count() > 0)
                                {
                        <div class="btn-group">
                            @foreach (var item in Model.ParlyReportCategory.ParlyReportSubCategories)
                            {
                                <a asp-page="./ParlyDocList" asp-route-id="@item.Id" style="color:#ffffff;margin:2px;" asp-route-typefolder="subfolder" class="btn btn-primary">@item.Title</a>
                            }



                            </div>
                                }
                                else {
                                <h5>No Folder</h5>}
                       
                                }
                            <hr />
                            <h3>Documents</h3>
                        <div class="row">
                            @if (Model.ParlyReportDocuments.Count() > 0)
                            {
                                @foreach (var item in Model.ParlyReportDocuments)
                                {
                                    <div class="col-md-5">
                                        <div style="margin: 4px; box-shadow: 2px 1.6px 3.6px rgb(81 172 120), 2px 0px 2.9px rgb(81 172 120), 2px 0px 2.9px rgb(81 172 120), 2px 0px 2.9px rgb(81 172 120) ">

                                            <div class="card-body" style="padding: 5px;" id="Document-@item.Id">

                                                <h6 class="card-title text-center uppercase" style="font-weight:900;margin:0;min-height:50px;">From @item.Profile.Title @item.Profile.FullName on @item.Date.ToString("dd MMM,yyyy hh:mm")</h6>
                                                <h6 class="card-title text-center uppercase" style="margin:0;min-height:60px;">
                                                    @item.Title
                                                </h6>
                                                @* <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Read Contribution</button>*@

                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    <div class="row">
                                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                                            <a href="@item.Document" class="btn btn-primary" target="_blank" style="color:#ffffff;width:100%;font-weight:900;" download="@item.Title">DOWNLOAD</a>

                                                        </div>
                                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                                            <a href="@item.Document" target="_blank" class="btn btn-primary" style="color:#ffffff;width:100%;font-weight:900;" download="@item.Title">VIEW DOCUMENT</a>

                                                        </div>
                                                    </div>

                                                }
                                                else
                                                {
                                                    <a class="btn btn-primary" style="color:#ffffff;width:100%;font-weight:900;" asp-page="/Account/Login" asp-area="Identity" asp-route-returnurl="/Web/ParlyDocList?id=@Model.ParlyReportCategory.Id">LOGIN TO DOWNLOAD OR VIEW</a>


                                                }
                                                <a href="whatsapp://send?text=https://sec44nipss.com/Web/ParlyDocList?id=@item.Id#Document-@item.Id" data-action="share/whatsapp/share"
                                                   target="_blank" class="btn btn-success btn-xs" style="color:white;font-weight:700;width:100%;margin-top:5px;"> Share to WhatsApp </a>
                                            </div>
                                        </div>

                                    </div>

                                }}
            else
            {
                <h5>No Document</h5>
            }
                            </div>
                        </div>

                        <div class="col-md-3">

                            <table class="table table-bordered">
                                <tr>
                                    <th>
                                        <h4 style="font-size:20px;font-weight:900;color:#000000;margin:0;">NAVIGATION</h4>
                                    </th>
                                </tr>
                                @foreach (var item in Model.ParlyReportCategoryList)
                                {
                                    <tr>
                                        <th>
                                            <a asp-page="/Web/ParlyDocList" asp-route-id="@item.Id"><h6 style="text-align: left; color: #000000;text-shadow: 1px 1px 1px #ff6a00;text-transform:uppercase;font-size:14px;line-height:18px;margin:0 5px;"> @Html.DisplayFor(modelItem => item.Title)</h6></a>
                                        </th>
                                    </tr>

                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
@foreach (var item in Model.ParlyReportDocuments)
{
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                   
                </div>
                <div class="modal-body">
                    @Html.Raw(item.Note)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
}