@page
@model SEC44NIPSS.Areas.Admin.Pages.Maintainance.Setting.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MaintainaceSetting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaintainaceSetting.FirstResponceTimeAfterSubmit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaintainaceSetting.FirstResponceTimeAfterSubmit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaintainaceSetting.SecondResponceTimeAfterApproval)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaintainaceSetting.SecondResponceTimeAfterApproval)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MaintainaceSetting.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
