@page
@model SEC44NIPSS.Areas.Root.Pages.ParlyCategory.SubTwo.FoldersModel

@{
    ViewData["Title"] = "Folders";
}

<h2><a asp-page="/ParlyCategory/SubCategory/Folders" asp-route-id="@Model.ParlyReportSubCategory.ParlyReportCategoryId"> @Model.ParlyReportSubCategory.ParlyReportCategory.Title</a> > @Model.ParlyReportSubCategory.Title</h2>

<p>
    <a asp-page="Create" class="btn btn-danger" asp-route-id="@Model.ParlyReportSubCategory.Id">Create New Folder</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Sort Order</th>
            <th>
                @Html.DisplayNameFor(model => model.ParlySubTwoCategory[0].Title)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ParlySubTwoCategory[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParlySubTwoCategory[0].ParlyReportSubCategory)
            </th>
            <th>Folders</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ParlySubTwoCategory)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SortOrder)
            </td>
            <td>
                <a asp-page="/ParlyCategory/SubThree/Folders" asp-route-id="@item.Id">

                    @Html.DisplayFor(modelItem => item.Title)
                </a>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParlyReportSubCategory.Title)
            </td>
            <td>
                @item.ParlySubThreeCategories.Count()
            </td>
            <td>

                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
        }
    </tbody>
</table>
