@page
@model SEC44NIPSS.Areas.Root.Pages.ParticipantManager.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SecParticipant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SecParticipant.Profile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SecParticipant.Profile.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SecParticipant.Alumni)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SecParticipant.Alumni.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SecParticipant.StudyGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SecParticipant.StudyGroup.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SecParticipant.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
