<!DOCTYPE html>
<!-- saved from url=(0052)https://nimoy.ceosdesigns.sk/template/v05/login.html -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- // Required meta tags -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Required meta tags // -->

    <meta name="description" content="">
    <meta name="author" content="ceosdesigns.sk">

    <title>SEC 44 - THE NATIONAL INSTITUTE - @ViewData["Title"]</title>
    <meta property="og:site_name" content="@ViewData["Title"]">
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:description" content="@ViewData["Description"]" />
    <meta property="og:image" itemprop="image" content="@ViewData["Image"]">
    <meta property="og:type" content="website" />
    <meta property="og:updated_time" content="@DateTime.UtcNow.AddHours(1)" />
    <!-- // Favicon -->
    <link href="~/img/icon-sec44.png" rel="icon">
    <!-- Favicon // -->
    <!-- // Google Web Fonts -->
    <link href="~/login/css" rel="stylesheet">
    <!-- Google Web Fonts // -->
    <!-- // Font Awesome 5 Free -->
    <link href="~/login/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous" rel="stylesheet">
    <!-- Font Awesome 5 Free // -->
    <!-- // Template CSS files -->
    <link href="~/login/bootstrap.min.css" rel="stylesheet">
    <link href="~/login/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .content > p {
            font-size: 0.875rem;
            font-weight: 600;
            line-height: 2;
            color: #ffffff;
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X0CM3VESSW"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-X0CM3VESSW');
    </script>
    <!-- Template CSS files  // -->
    <meta name="google-site-verification" content="acxwjfRMmuNWboU78oWL24rYnzThONbaMvsiwGdp1gs" />
</head>
<body data-new-gr-c-s-check-loaded="14.1054.0" data-gr-ext-installed="">
    <!-- // Preloader -->
    <div id="nm-preloader" class="nm-aic nm-vh-md-100" style="display: none;">
        <div class="nm-ripple" style="display: none;">
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- Preloader // -->

    <main class="d-flex">
        <div class="container main-container" style="padding-top:2rem !important;">
            <div class="text-center">

                <img src="~/img/download.png" class="img-fluid" style="margin:0 auto 40px; text-align:center;max-height:100px;" />
            </div>
            <div class="row nm-aic">
                <div class="col-md-6 col-lg-5 offset-lg-1 nm-mb-1 nm-mb-md-1">
                    <div class="card">
                        <div class="card-content">
                            @RenderBody()
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5 offset-lg-1 text-center" style="text-align:center;">

                    <h3 class="large" style="color:#00ff21;">SENIOR EXECUTIVE COURSE (SEC) 44, 2022</h3>
                    <p class="subtitle" style="margin:0;color:#ffffff;">
                        STRENGTHENING LOCAL GOVERNANCE IN NIGERIA:<br />
                        Challenges, Options and Opportunities
                    </p>
                    @*<ul class="list-unstyled mb-11" style="margin:0;">
                            <li style="margin-bottom: 4px !important;">
                                <div class="list nm-aic">
                                    <div class="icon">
                                        <i class="fa fa-caret-right"></i>
                                    </div>
                                    <div class="content">
                                        <p>
                                            Conceptual and Theoretical Perspectives of Local Governance in
                                            Nigeria
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li style="margin-bottom: 4px !important;">
                                <div class="list nm-aic">
                                    <div class="icon">
                                        <i class="fa fa-caret-right"></i>
                                    </div>

                                    <div class="content">
                                        <p>
                                            Historical Perspectives and Trends in Local Governance in
                                            Nigeria
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li style="margin-bottom: 4px !important;">
                                <div class="list nm-aic">
                                    <div class="icon">
                                        <i class="fa fa-caret-right"></i>
                                    </div>

                                    <div class="content">
                                        <p>
                                            Frameworks for Local Governance in Nigeria
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li style="margin-bottom: 4px !important;">
                                <div class="list nm-aic">
                                    <div class="icon">
                                        <i class="fa fa-caret-right"></i>
                                    </div>

                                    <div class="content">
                                        <p>
                                            Stakeholders/Actors in Local Governance in Nigeria
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li style="margin-bottom: 4px !important;">
                                <div class="list nm-aic">
                                    <div class="icon">
                                        <i class="fa fa-caret-right"></i>
                                    </div>

                                    <div class="content">
                                        <p>
                                            Issues and Challenges of Local Governance in Nigeria
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li style="margin-bottom: 4px !important;">
                                <div class="list nm-aic">
                                    <div class="icon">
                                        <i class="fa fa-caret-right"></i>
                                    </div>

                                    <div class="content">
                                        <p>
                                            A Comparative Analysis of Global Best Practices in Local
                                            Governance: Lessons for Nigeria
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li style="margin-bottom: 4px !important;">
                                <div class="list nm-aic">
                                    <div class="icon">
                                        <i class="fa fa-caret-right"></i>
                                    </div>

                                    <div class="content">
                                        <p>
                                            Local Governance in Nigeria: Options and Opportunities
                                        </p>
                                    </div>
                                </div>
                            </li>


                        </ul>*@

                </div>
            </div>
        </div>
    </main>

    <!-- // Vendor JS files -->
    <script src="~/login/jquery-3.6.0.min.js"></script>
    <script src="~/login/bootstrap.bundle.min.js"></script>
    <!-- Vendor JS files // -->
    <!-- Template JS files // -->
    <script src="~/login/script.js"></script>

    @RenderSection("Scripts", required: false)
    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.7.0/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.7.0/firebase-analytics.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
            apiKey: "AIzaSyCzbS6ZWXOro3hD0GFxVfJvyPQHzRwHCng",
            authDomain: "nipss-8d40c.firebaseapp.com",
            projectId: "nipss-8d40c",
            storageBucket: "nipss-8d40c.appspot.com",
            messagingSenderId: "461039397969",
            appId: "1:461039397969:web:7887d9f62e790abe531c70",
            measurementId: "G-4JWJ3B13LQ"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
    </script>
</body>

</html>