<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SEC 44 - THE NATIONAL INSTITUTE - @ViewData["Title"]</title>
    <meta property="og:site_name" content="@ViewData["Title"]">
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:description" content="@ViewData["Description"]" />
    <meta property="og:image" itemprop="image" content="@ViewData["Image"]">
    <meta property="og:type" content="website" />
    <meta property="og:updated_time" content="@DateTime.UtcNow.AddHours(1)" />
    <!-- Tell the browser to be responsive to screen width -->
    @*ViewData["disablex"] != "disable" ||*@
    @if (ViewData["Title"] == "Responsive")
    {

    }
    else
    {
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    }
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/dashboard/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/dashboard/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/dashboard/bower_components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/dashboard/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dashboard/dist/css/AdminLTE.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/dashboard/dist/css/skins/_all-skins.min.css">
    <link rel="shortcut icon" href="~/img/download.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <style>
        .bg-primary {
            background-color: #007bff !important;
            color: #ffffff;
        }

        .bg-success {
            background-color: #28a745 !important;
            color: #ffffff;
        }

        .bg-info {
            background-color: #17a2b8 !important;
            color: #ffffff;
        }

        .bg-warning {
            background-color: #ffc107 !important;
            color: #ffffff;
        }

        .bg-danger {
            background-color: #dc3545 !important;
            color: #ffffff;
        }

        .bg-secondary {
            background-color: #6c757d !important;
            color: #ffffff;
        }

        .bg-dark {
            background-color: #343a40 !important;
            color: #ffffff;
        }


        .small-box h3 {
            font-size: 24px;
            color: white;
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X0CM3VESSW"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-X0CM3VESSW');
    </script>
    <style>
        .skin-blue .sidebar-menu > li > a {
            border-left: 3px solid transparent;
            font-weight: 900;
            font-size: 18px;
            border-bottom: 1px solid #b8c7ce1c;
        }

        .sidebar-menu > li > a {
            padding: 7px 5px 7px 15px;
            display: block;
        }
    </style>




</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>SEC</b>44</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>SEC</b>44</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start message -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/dashboard/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Support Team
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <p>We will always support the LGAs</p>
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                            </ul>
                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new Project completed today
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-yellow"></i> Welcome our New Hall of Fame
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- Tasks: style can be found in dropdown.less -->
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Develop Your Communitties
                                                </h3>

                                            </a>
                                        </li>

                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">

                            @await Component.InvokeAsync("DashboardDropdown")

                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    @await Component.InvokeAsync("DashboardProfile")


                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MAIN NAVIGATION</li>

                    <li><a asp-page="/Dashboard/Index" asp-area="Participant"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
                    <li><a asp-page="/Dashboard/Profile" asp-area="Participant"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                    <li><a asp-page="/Dashboard/Voting" asp-area="Participant"><i class="fa fa-thumbs-up"></i> <span>Voting</span></a></li>
                    <li><a asp-page="/Dashboard/ResearchTool" asp-area="Participant"><i class="fa fa-book"></i> <span>Research Tool</span></a></li>

                    <li><a asp-page="/Dashboard/Planner" asp-area="Participant"><i class="fa fa-globe"></i> <span>Dialy Planner</span></a></li>
                    <li><a asp-page="/Dashboard/Diary" asp-area="Participant"><i class="fa fa-envelope"></i> <span>Diary</span></a></li>
                    <li><a asp-page="/Dashboard/Init" asp-area="Participant"><i class="fa fa-bookmark"></i> <span>Rapid Test</span></a></li>
                    <li><a asp-page="/Dashboard/MyGallery" asp-area="Participant"><i class="fa fa-photo"></i> <span>My Gallery</span></a></li>
                    <li><a asp-page="/Dashboard/Timetable" asp-area="Participant"><i class="fa fa-calendar"></i> <span>TimeTable</span></a></li>

                    <li><a asp-page="/Dashboard/ParticipantList" asp-area="Participant"><i class="fa fa-bookmark"></i> <span>Participants</span></a></li>
                    <li><a asp-page="/TourPage/Index" asp-area="Participant"><i class="fa fa-globe"></i> <span>Tour</span></a></li>
                    <li><a asp-page="/Dashboard/Library" asp-area="Participant"><i class="fa fa-book"></i> <span>Library</span></a></li>
                    <li><a asp-page="/Dashboard/Sectv" asp-area="Participant"><i class="fa fa-camera"></i> <span>SEC44 TV</span></a></li>
                    <li><a asp-page="/Dashboard/Sms" asp-area="Participant"><i class="fa fa-envelope"></i> <span>SMS</span></a></li>
                    <li><a asp-page="/Dashboard/Message" asp-area="Participant"><i class="fa fa-book"></i> <span>Message</span></a></li>


                    <li><a href="#"><i class="fa fa-phone"></i> <span>Support</span></a></li>
                    <li><a href="#"><i class="fa fa-mobile-phone"></i> <span>Live Chat</span></a></li>


                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    DASHBOARD

                    <a href="javascript: history.back()" class="pull-right">
                        <span class="btn btn-primary"> <i class="fa fa-arrow-left"></i> Back</span>
                    </a>
                </h1>

            </section>

            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.4.0
            </div>
            <strong>Copyright &copy; 2022 <a href="#">THE NATIONAL INSTITUTE</a>.</strong> All rights
            reserved.
        </footer>

        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/dashboard/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/dashboard/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="~/dashboard/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/dashboard/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/dashboard/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/dashboard/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dashboard/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dashboard/dist/js/demo.js"></script>
    <!-- page script -->
    <script>
        $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#summernote').summernote();
        });
    </script>
    @RenderSection("Scripts", required: false)
    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.7.0/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.7.0/firebase-analytics.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
            apiKey: "AIzaSyCzbS6ZWXOro3hD0GFxVfJvyPQHzRwHCng",
            authDomain: "nipss-8d40c.firebaseapp.com",
            projectId: "nipss-8d40c",
            storageBucket: "nipss-8d40c.appspot.com",
            messagingSenderId: "461039397969",
            appId: "1:461039397969:web:7887d9f62e790abe531c70",
            measurementId: "G-4JWJ3B13LQ"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
    </script>
</body>
</html>


