@page
@model SEC44NIPSS.Areas.Participant.Pages.Dashboard.MyGalleryModel

@{
    ViewData["Title"] = "MyGallery";
}


<style>
    .rs-team.style2 .team-item .team-content {
        height: 100px;
        width: 100%;
        bottom: 0;
        position: absolute;
        padding: 5px 10px;
        color: #444;
        text-align: center;
        overflow: hidden;
        background: #fff;
        transition: .3s all ease;
    }

    .card {
        box-shadow: 2px 2px 20px rgba(0,0,0,0.3);
        border: none;
        margin-bottom: 30px;
    }

        .card:hover {
            transform: scale(1.05);
            transition: all 1s ease;
            z-index: 999;
        }

    .card-01 .card-body {
        position: relative;
        padding-top: 40px;
    }

    .card-01 .badge-box {
        position: absolute;
        top: -20px;
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
        text-align: center;
    }

        .card-01 .badge-box i {
            background: #006EFF;
            color: #fff;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-size: 20px;
        }

    .card-01 .height-fix {
        height: 455px;
        overflow: hidden;
    }

        .card-01 .height-fix .card-img-top {
            width: auto !imporat;
        }

    .profile-box {
        background-size: cover;
        float: left;
        width: 100%;
        text-align: center;
        padding: 30px 0;
        position: relative;
        overflow: hidden;
    }

        .profile-box:before {
            filter: blur(10px);
            background: url("https://images.pexels.com/photos/195825/pexels-photo-195825.jpeg?h=350&auto=compress&cs=tinysrgb") no-repeat;
            background-size: cover;
            width: 120%;
            position: absolute;
            content: "";
            height: 120%;
            left: -10%;
            top: 0;
            z-index: 0;
        }

        .profile-box img {
            width: 170px;
            height: 170px;
            position: relative;
            border: 5px solid #fff;
        }

    .social-box i {
        border: 1px solid #006EFF;
        color: #006EFF;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        line-height: 30px;
    }

        .social-box i:hover {
            background: #DFC717;
            color: #fff;
        }

    .social-box a {
        margin: 0 5px;
    }

    .video-foreground {
        float: left;
        width: 100%;
        height: 500px;
    }

    .card-01.height-fix .card-img-overlay {
        top: unset;
        color: #fff;
        background: -moz-linear-gradient(top, rgba(26,96,111,0) 0%, rgba(26,96,111,0) 1%, rgba(24,87,104,0.91) 31%, rgba(21,65,89,0.91) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(26,96,111,0) 0%,rgba(26,96,111,0) 1%,rgba(24,87,104,0.91) 31%,rgba(21,65,89,0.91) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(26,96,111,0) 0%,rgba(26,96,111,0) 1%,rgba(24,87,104,0.91) 31%,rgba(21,65,89,0.91) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001a606f', endColorstr='#e8154159',GradientType=0 );
    }

    .card-01.height-fix .fa {
        color: #fff;
        font-size: 22px;
        margin-right: 18px;
    }

    ;
    /*flipper-card*/
    .card-flipper {
        position: relative;
        float: left;
        width: 100%;
        text-align: center;
    }

    .card__front,
    .card__back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

        .card__back .card {
            width: 100%;
            height: 65vh;
        }

    .card__front,
    .card__back {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }

    .card__front {
        background-color: #ff5078;
    }

    .card__back {
        background-color: #1e1e1e;
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }

    .card-flipper.effect__hover {
        position: relative;
    }

        .card-flipper.effect__hover:hover .card__front {
            -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
        }

        .card-flipper.effect__hover:hover .card__back {
            -webkit-transform: rotateY(0);
            transform: rotateY(0);
        }

    .card-flipper.effect__random.flipped .card__front {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }

    .card-flipper.effect__random.flipped .card__back {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    h6 {
        font-size: 20px;
        line-height: 16px;
        font-weight: 500;
    }

    .card-title {
        margin-bottom: 0;
    }
</style>

<div class="box box-info">
    <div class="box-header with-border">

        <h3 class="box-title">MY GALLERY</h3>

    </div>
    <div class="box-header with-border">
        <div class="btn-group">
            <a asp-page="./UploadToGallery" class="btn btn-primary">Upload Photo <i class="fa fa-camera"></i></a>
            <a class="btn btn-default">&nbsp;&nbsp;</a>
            <a asp-page="./PicturesofOther" class="btn btn-primary">Pictures of Other Participants</a>
        </div>
    </div>
    <div class="box-body">
        @if (TempData["response"] != null)
        {
            <div class="alert alert-success alert-styled-left alert-dismissible">
                <button type="button" class="close" data-dismiss="alert"><span>×</span></button>
                <span class="font-weight-semibold">Info:</span> @TempData["response"]
            </div>
        }


        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    @foreach (var item in Model.Gallery)
                    {
                        <div class="col-md-4">

                            <div style="margin: 4px; box-shadow: 2px 1.6px 3.6px rgb(60 141 188), 2px 0px 2.9px rgb(60 141 188), 2px 0px 2.9px rgb(60 141 188), 2px 0px 2.9px rgb(60 141 188)">
                                <a href="#myModal_@item.Id">
                                    @if (!String.IsNullOrEmpty(item.FilePath))
                                    {
                                        <div class="" style="height: 500px; background: url('@item.FilePath'); background-repeat: no-repeat; background-size: cover;background-position: center; ">
                                        </div>
                                    }
                                    else
                                    {

                                    }
                                </a>
                                <div class="card-body" style="padding: 5px; height: 120px; background-color: #3c8dbc; color: white;">

                                    <h6 class="card-title text-center uppercase" style="font-size:17px;font-weight:900;color:#fff;">@item.Title</h6>
                                    <div class="btn-group" style="text-align: center; margin: 10px auto !important; display: flex; flex-direction: row; justify-content: center;">
                                        @if (item.Private == false)
                                        {
                                            <form style="display:inline;">

                                                <button type="submit" class="btn btn-default" style="margin-left:4px;"><i class="fa fa-globe"> Public</i></button>
                                            </form>
                                        }
                                        else
                                        {
                                            <form style="display:inline;">

                                                <button type="submit" class="btn btn-default" style="margin-left:4px;"><i class="fa fa-globe"> Private</i></button>
                                            </form>
                                        }
                                        @*@if (item.UseAsActivity == false)
                                        {
                                            <form method="post" asp-page-handler="Activity" style="display:inline;">
                                                <input type="hidden" name="id" value="@item.Id" />
                                                <button type="submit" class="btn btn-default" style="margin-left:4px;">Add to Profile Activity</button>
                                            </form>
                                        }
                                        else
                                        { <form method="post" asp-page-handler="UnUse" style="display:inline;">
                                                <input type="hidden" name="id" value="@item.Id" />
                                                <button type="submit" class="btn btn-danger" style="margin-left:4px;">Remove from Profile Activity</button>
                                            </form>

                                        }*@
                                        <form method="post" asp-page-handler="Make" style="display:inline;">
                                            <input type="hidden" name="id" value="@item.Id" />
                                            <button type="submit" class="btn btn-success" style="margin-left:4px;">Make Profile Photo</button>
                                        </form>
                                        <form method="post" style="display:inline;">
                                            <input type="hidden" name="id" value="@item.Id" />
                                            <button type="submit" class="btn btn-danger" style="margin-left:4px;">Delete</button>
                                        </form>
                                    </div>

                                </div>
                            </div>

                        </div>
                    }


                </div>


            </div>
        </div>
    </div>
</div>



<style>
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .modalDialog {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        z-index: 99999;
        opacity: 0;
        -webkit-transition: opacity 100ms ease-in;
        -moz-transition: opacity 100ms ease-in;
        transition: opacity 100ms ease-in;
        pointer-events: none;
        overflow-y: initial !important;
    }

        .modalDialog:target {
            opacity: 1;
            pointer-events: auto;
        }

        .modalDialog > div {
            max-width: 800px;
            width: 90%;
            position: relative;
            margin: 1% auto;
            padding: 20px;
            border-radius: 3px;
            background: #fff;
            overflow-y: auto;
        }

    .close {
        font-family: Arial, Helvetica, sans-serif;
        background: #006EFF;
        color: #fff;
        line-height: 25px;
        position: absolute;
        right: 12px;
        text-align: center;
        top: 10px;
        width: 34px;
        height: 34px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
        padding-top: 5px;
    }

        .close:hover {
            background: #3a6aaa;
        }
</style>

@*<a href="#openModal">Modal</a>*@
<!--modals-->
@foreach (var item in Model.Gallery)
{
    <div id="myModal_@item.Id" class="modalDialog">
        <div>
            <a href="#close" title="Close" class="close">X</a>
            <h5>@item.Title</h5>
            <div style="margin:0 auto;text-align:center;">
                <img src="https://sec44nipss.com/@item.FilePath" style="margin:0 auto;text-align:center;" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script language="javascript" type="text/javascript">
        $('.filter-btn').on('click', function () {
            // $('#openModal').modal({ show: true });
            //$('#openModal').modal('show');
            // $('#myModal').modal('show');
            console.log($(this).attr('data-url'));
            // I recommend giving your form an ID or something instead of just matching on the form element.
            //
            $('#myModal').modal();
        });
    </script>
}
