@page
@model SEC44NIPSS.Areas.Participant.Pages.Dashboard.RapidTestPageModel
@{
}
<div class="box">
    <div class="box-header">
        <h3 class="box-title">
            RAPID TEST

        </h3>
        <h6><a asp-page="CreateTest" style="" class="btn btn-primary">Create a New Test</a></h6>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <h6>Rapid Test History</h6>
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>
                            DATE
                        </th>
                        <th>
                            TITLE
                        </th>
                        <th>
                            TOTAL QUESTION
                        </th>
                        <th>
                            SCORE
                        </th>

                        <th></th>
                    </tr>
                </thead>
                @{
                int sno = 0;
                }
                <tbody>
                    @foreach (var item in Model.UserAnswer)
                {
                    <tr>
                        <td>
                            @{ sno++; }
                            @sno
                        </td>
                        <td>
                            @item.Date.ToString("dd/MM/yyyy hh:mm")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QuestionNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Score)
                        </td>

                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger">Action</button>
                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a asp-page="./TestDetails" asp-route-id="@item.Id">Details</a></li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>