@page
@model SEC44NIPSS.Areas.ResolvedAdmin.Pages.LectureNote.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Event.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.EventDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.EventDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.EventTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.EventTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.SortOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.SortOrder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.Moderator)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.Moderator)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.Lecturer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.Lecturer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.EventType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.EventType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.ContentStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.ContentStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.ContentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.ContentType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.Note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.IsLecture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.IsLecture)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Event.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
