@page
@model SEC44NIPSS.Areas.Admin.Pages.Doc.DocList.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Document</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Document.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Document.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Document.ShortDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Document.ShortDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Document.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Document.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Document.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Document.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Document.DocumentCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Document.DocumentCategory.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Document.Profile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Document.Profile.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Document.FileName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Document.FileName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Document.DocType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Document.DocType)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Document.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
